<%- include('partials/header') %> 
<%- include('partials/navbar') %> 

<div class="container">
    <% Produto.fotEach(produtos =>{%>
        <p><%=produtos.Titulo %</p>
        <p><%=<produto.Descricao %></p>
   <% }) %>
</div>
<%- include('partials/footer') %> 